@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: none;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  overflow: hidden;
}
.container .container-side-navigation {
  width: 20%;
  height: 100%;
  padding: 0;
}
.container .container-side-navigation-nested {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: #E8EEED;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.container .container-side-navigation .navigation {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  padding: 0;
}
.container .container-side-navigation .navigation-profile-and-widget {
  margin-bottom: 3.5rem;
}
.container .container-side-navigation .navigation-profile-and-widget-logo {
  width: 6rem;
  height: 6rem;
  padding: 0;
  border-radius: 50%;
}
.container .container-side-navigation .navigation-profile-and-widget .widget-time {
  color: #04A7BD;
  font-size: 30px;
}
.container .container-side-navigation .navigation-profile-and-widget .widget-date {
  font-size: 20px;
}
.container .container-side-navigation .navigation-links {
  margin-bottom: 0.5rem;
}
.container .container-side-navigation .navigation-links-title {
  font-size: 25px;
  color: #000000;
  margin-bottom: 0.4rem;
}
.container .container-side-navigation .navigation-links-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  text-decoration: none;
  color: #000000;
}
.container .container-side-navigation .navigation-links-link .icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.container .container-side-navigation .navigation-links-link-title {
  font-size: 20px;
}
.container .container-side-navigation .navigation-links .active {
  color: #04A7BD;
}
.container .container-side-navigation .themes-title {
  font-size: 25px;
  color: #000000;
  margin-bottom: 0.4rem;
}
.container .container-side-navigation .themes .theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  margin-bottom: 0.2rem;
}
.container .container-side-navigation .themes .theme-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.container .container-side-navigation .themes .theme-title {
  font-size: 20px;
}
.container .container-main-container {
  width: 80%;
  height: 100%;
  padding: 0;
  padding-left: 2rem;
}
.container .container-main-container .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  width: 100%;
  height: 10%;
  padding: 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 1em;
}
.container .container-main-container .search-bar-icon {
  font-size: 1.5rem;
  color: #04A7BD;
  margin-right: 0.7em;
  cursor: pointer;
}
.container .container-main-container .search-bar-input {
  width: 95%;
  height: 70%;
  padding: 0;
  font-size: 20px;
  border: none;
  outline: none;
  font-weight: 400;
  background: transparent;
}
.container .container-main-container .container-main-content {
  position: relative;
}
.container .clicked .theme-icon,
.container .clicked .theme-title {
  color: #04A7BD;
}